nav.navbar.bg-dark.border-bottom.border-body(data-bs-theme='dark')
  .container
    .navbar-nav
      .d-flex.gap-3.justify-content-center.align-items-center
        a.navbar-brand.nav-link(href='/') Members Only
        if currentUser.user_role === 'member' || currentUser.user_role === 'admin'
          a.nav-link(href='/create')
            i.bi.bi-plus-lg
            span Create a post
        if currentUser.user_role == 'user'
          a.nav-link(href='/authentication/member') Become a member
    .navbar-nav
      if currentUser
        .d-flex.gap-3.justify-content-center.align-items-center
          .navbar-text
            if currentUser.user_role === 'user'
              i.bi.bi-person-fill-lock
            else if currentUser.user_role === 'member'
              i.bi.bi-person-fill-check
            else if currentUser.user_role === 'admin'
              i.bi.bi-person-fill-gear
            span |
            span #{ currentUser.username }
          form.display-inline(method='POST', action='/authentication/log-out')
            button.nav-link(type=submit) Log Out
      else
        a.nav-link(href='/authentication/log-in') Log In
