div.card#custom-form-width
  h3.p-3.text-center.m-0 Sign Up
  form.p-3(method='POST',action="/authentication/sign-up", novalidate)
    div.mb-3
      input.form-control#username(type='text', placeholder='Usern Name', name='username', required)
    div.mb-3
      input.form-control#firstname(type='text', placeholder='First Name', name='firstname', required)
    div.mb-3
      input.form-control#lastName(type='text', placeholder='Last Name', name='lastname', required)
    div.mb-3
      input.form-control#email(type='email', placeholder='Email', name='email', required)
    div.mb-3
      input.form-control#password(type='password', placeholder='Password', name='password', required)
    div.mb-3
      input.form-control#confimpassword(type='password', placeholder='Confirm Password', name='confirmPassword', required)
    div.mb-3
      button.btn.btn-primary.w-100(type=submit) Sign up
